
h1 {
    font-size: 4em;
    font-family: 'Palette Mosaic', cursive;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75%;
}


.reponse-list {
    margin-left: 5px;
    margin-bottom: 5px;
}

.questionTitre {
    font-size: xx-large;
}

label {
    font-size: x-large;
}

.nextQuestionLabel {
    margin-top: 10px;
    font-family: eaterRegular;
}