/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: pressStart2PRegular;
    src: url(assets/fonts/PressStart2P-Regular.ttf);
  }
@font-face {
  font-family: eaterRegular;
  src: url(assets/fonts/Eater-Regular.ttf);
}

@font-face {
  font-family: luckiestGuy;
  src: url(assets/fonts/LuckiestGuy-Regular.ttf);
}
  